p {
    font-size: small;
    padding-inline: 5px ;
}



.girl {
    min-height: 375px;
    min-width: 525px;
}

#button-addon2 {
    color: white;
}

.email-input {
    max-width: 50%;
}

.icon {
    font-size: large;
}
  

