* {
    margin: 0;
    padding: 0;
}

.main-container {
    height: 100vh;
    display: flex;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    height: 100vh;
    background-color: rgb(27, 24, 24);


}

.tool {
    width: 50px;
    height: 50px;
    background-color: rgb(16, 14, 14);
    border: 1px solid rgb(113, 111, 111);
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;

}

.picked {
    border-color: green;
}


.tool:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.invent-box {
    width: 40px;
    height: 40px;
    background-color: gray;
}

.map {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(23, 3rem);
    grid-template-rows: repeat(15, 3rem);
    
}

.tile {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.tile:hover {
    box-shadow: inset 0 0 0 2px black;
}

.sky {
    background-color: #87CEEB;
}

.cloud {
    background-color: rgb(225, 207, 207);
}

.tree {
    background-image: url('./icons/wood.png');
}

.grass {
    background-image: url('./icons/grass.png');
}

.stone {
    background-image: url('./icons/stone.png');
}

.dirt {
    background-image: url('./icons/dirt.png');
}